{{# offer.errors.length }}
<div class="alert alert-danger fade in" role="alert">
  Es sind {{ offer.errors.length }} Fehler aufgetreten:

  <ul>
    {{# offer.errors }}
    <li>
      <a href="#{{ bezugsFeld }}" class="alert-link">
        <i class="glyphicon glyphicon-arrow-right"></i>
        {{ bezugsFeld }}
      </a>: {{ fehlerText }}
    </li>
    {{/ offer.errors }}
  </ul>
</div>
{{/ offer.errors.length }}
