<div class="listing-header">
  <h2>Bestand</h2>
</div>

<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs scene-contents" role="tablist">
      <li class="active"><a href="#contracts" class="kbd" role="tab" data-toggle="tab">Verträge</a></li>
      <li><a href="#proposals" class="kbd" role="tab" data-toggle="tab">Anträge</a></li>
      <li><a href="#offers" class="kbd" role="tab" data-toggle="tab">Angebote</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="tab-content">
      <!-- TODO: use `fieldset`s!? Bootstrap doesn't like that though -->
      <div id="contracts" class="tab-pane active">
        {{> contracts }}
      </div>

      <div id="proposals" class="tab-pane">
        Anträge
      </div>

      <div id="offers" class="tab-pane">
        Angebote
      </div>

    </div>
  </div>
</div>

