<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>LVM LAS ROCA</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="/assets/application.css">
    <script src="/assets/application.js"></script>
  </head>

  <body>
    {{> partials/nav }}
    {{{ yield }}}
  </body>
</html>
