<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>LVM LAS ROCA</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="/assets/application.css">
  </head>

  <body>
    {{> nav }}
    {{# partner }}
      {{> customer_card }}
      {{> branches }}
    {{/ partner }}

    {{{ yield }}}

    <script src="/assets/application.js"></script>
  </body>
</html>
