{{> partials/customer_card }}
{{> partials/branches }}

<div class="container">
  <header class="page-header">
    <h1>Kundendeckblatt</h1>
  </header>

  <h2>Verträge</h2>

  <ul class='contracts'>
  {{# contracts }}
    <li>{{ sparte }}</li>
  {{/ contracts }}
  </ul>

  <h2>Haushalt</h2>

  <ul class='household'>
  {{# household }}
    <li>{{ name }} ({{ beziehung }})</li>
  {{/ household }}
  </ul>
</div>
