{{> partials/customer_card }}
{{> partials/branches }}

<div class="container">
  <header class="page-header">
    <h1>Kundendeckblatt</h1>
  </header>

  <div class="row">
    <div class="col-md-8">
      <div class="listing-header">
        <h2>Kontakthistorie</h2>
      </div>

      <div class="listing">
        <ol class="contact-history-entries filterable list">
        {{# contacts }}
          <li>
            <div class="entry">
              <span class="contact-history-entry-type"><i data-toggle="tooltip" title="" class="{{ icon }}" data-original-title="Termin"></i>&nbsp;{{ kontaktart }}</span>
              <time class="contact-history-entry-date" datetime="{{ zeit }}">{{ zeit }}</time>
              {{# sachbearbeiter }}
                <span class="contact-history-entry-clerk">{{ sachbearbeiter }}</span>
              {{/ sachbearbeiter }}
              <p class="contact-history-entry-subject">{{ titel }}
            </div>
          </li>
        {{/ contacts }}
        </ol>
      </div>
    </div>

    <div class="col-md-4">
      <div class="listing-header">
        <h2>Netzwerk</h2>
      </div>

      <ul class="contact-network">
      {{# household }}
        <li>
          <a href="#" class="h-card">{{ name }}</a>
          <span class="contact-role">
            <span class="contact-role-name">{{ beziehung }}</span>
          </span>
        </li>
      {{/ household }}
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="listing-header">
        <h2>Verträge</h2>
      </div>

      <div class="table-responsive">
        <div class="listing">
          <table class="portfolio-overview table sortable filterable">
            <thead>
              <tr>
                <th class="sort" data-sort="col-portfolio-branch">Sparte</th>
                <th class="sort text-right" data-sort="col-portfolio-payment-amount">Beitrag</th>
              </tr>
            </thead>
            <tbody class="list">
              {{# contracts }}
                <tr>
                <td class="col-portfolio-branch">
                  <i class="{{ icon }}"></i>
                  <span class="branch-selector-item-caption">{{ sparte }}</span>
                </td>
                <td class="col-portfolio-payment-amount text-right">{{ beitrag }}</td>
                </tr>
              {{/ contracts }}
            </tbody>
        </div>
      </div>
    </div>
  </div>

</div>
