<div class="container">
  <header class="listing-header">
    <h2>Verträge {{ proposal.id }}</h2>
  </header>

  <dl class="dl-horizontal">
    <dt>#</dt>
    <dd>{{ contract.id }}</dd>

    <dt>Sparte</dt>
    <dd>{{ contract.branch }}</dd>

    <dt>Beitrag</dt>
    <dd>{{ contract.formattedFee }}</dd>
  </dl>
</div>

